@model Alllive.Models.PaymentMethodViewModel
@{
    ViewBag.Title = "AddAccount";
}

<link rel="stylesheet" href="~/Content/global.css" />
<h2>Add Account</h2>
@using (Html.BeginForm("AddAccount", "Billing", FormMethod.Post))
{
    <label>Card Information</label>
    <div>
        @Html.TextBoxFor(a => a.NameOnCard, new { @class = "form-control", name = "Name on Card", placeholder = "Name on Card", required = "required" })
    </div>
    <div>
        @Html.TextBoxFor(a => a.CardNumber, new { @class = "form-control", name = "Card Number", placeholder = "Card Number", required = "required" })
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.TextBoxFor(a => a.CvcCode, new { @class = "form-control", name = "cvv", placeholder = "cvv", required = "required" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(a => a.ExpMonth, new { @class = "form-control", name = "exp month", placeholder = "Expiration Month", required = "required" })

        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(a => a.ExpYear, new { @class = "form-control", name = "exp year", placeholder = "Expiration Year", required = "required" })
        </div>
    </div>
    <label>Billing Address</label>
    <div>
        @*<input class="form-control" type="text" name="line1" id="line1" placeholder="Street Address" />*@
        @*<input type="text" class="form-control" name="username" placeholder="Username" required="required">*@
        @Html.TextBoxFor(a => a.AddressLine1, new { @class = "form-control", name = "addresLine1", placeholder = "Address Line 1", required = "required" })
    </div>
    <div>
        @*<input class="form-control" type="text" name="line2" id="line2" placeholder="Address line 2" /*@
        @Html.TextBoxFor(a => a.AddressLine2, new { @class = "form-control", name = "addresLine2", placeholder = "Address Line 2" })
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.TextBoxFor(a => a.City, new { @class = "form-control", name = "city", placeholder = "City", required = "required" })
            <!--<input class="form-control" type="text" name="city" id="city" placeholder="City" />-->
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(a => a.State,
                    new SelectList(Enum.GetValues(typeof(Utilities.States))),
                    "State",
                    new { @class = "form-control", required = "required" })
        </div>
        <div class="col-md-4">
            <!--<input class="form-control" type="text" name="postal_code" id="postal_code" placeholder="Zip Code" />-->
            @Html.TextBoxFor(a => a.PostalCode, new { @class = "form-control", name = "postal code", placeholder = "Postal Code", required = "required" })
        </div>
    </div>


    <button id="submit" class="btn btn-primary">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Save Account</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Account added succesfully, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
}