@model IEnumerable<Alllive.Models.TutorViewModel>

<div class="list-group">
    @foreach (var tp in Model)
    {
    <div class="list-group-item">
        <a href="@Url.Action("ViewTutor",new { tutorID=tp.TutorProfile.TutorProfileID})">
            @if (tp.TutorProfile.ImageID.HasValue)
            {
                <img width="70" height="70" src="@Url.Action("Index","Images",new {imageID=tp.TutorProfile.ImageID.Value })" />
            }
            else
            {
                <img width="70" height="70" src="~/Images/silhoutte.png" />
            }
            <div class="list-group-item-text">
                <h4>@tp.User.FirstName @tp.User.LastName</h4>
                <p>@tp.TutorProfile.Bio</p>
                
            </div>
        </a>
    </div>

    }
   
</div>
