@model  Alllive.Models.SearchTutorModel
@*@model IEnumerable<Alllive.Models.>*@
@{
    ViewBag.Title = "SearchTutor";
}

<h2>SearchTutor</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @using (Ajax.BeginForm("SearchResults", new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "SearchResults", InsertionMode = InsertionMode.Replace }))
                {
            @*< form id = "FilterForm" onsubmit = "ApplyFilter(event)" >*@
                   @Html.Label("Filters")
                <div class="mb-2">
                    @Html.TextBoxFor(m=>m.SearchText, new { @class="form-control"})
                </div>
            <div class="mb-2">
                @Html.HiddenFor(m => m.RateLow)
                @Html.HiddenFor(m => m.RateHigh)

                <label id="rangeLabel">

                </label>
                <div id="slider-range">

                </div>
            </div>
                <div class="mb-2">
                    @Html.Label("Availability")
                    <br />
                    @Html.CheckBoxFor(a => a.Sunday)
                    @Html.Label("Sunday")
                    <br />


                    @Html.CheckBoxFor(a => a.Monday)
                    @Html.Label("Monday")
                    <br />

                    @Html.CheckBoxFor(a => a.Tuesday)
                    @Html.Label("Tuesday")
                    <br />



                    @Html.CheckBoxFor(a => a.Wednesday)
                    @Html.Label("Wednesday")
                    <br />


                    @Html.CheckBoxFor(a => a.Thursday)
                    @Html.Label("Thursday")
                    <br />

                    @Html.CheckBoxFor(a => a.Friday)
                    @Html.Label("Friday")
                    <br />

                    @Html.CheckBoxFor(a => a.Saturday)
                    @Html.Label("Saturday")
                </div>
                <div>
                    <button class="btn btn-default" type="submit">Apply Filter</button>
                </div>
            @*</form>*@
            }
        </div>

        <div class="form-group col-md-7">
            
            @*// search results go here*@
           <div id="SearchResults">

           </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $( "#slider-range" ).slider({
              range: true,
              min: 0,
              max: 250,
              values: [ 0, 250 ],
              slide: function( event, ui ) {
                  $("#RangeLow").val(ui.values[0]);
                  $( "#RangeHigh" ).val( ui.values[1]);
                  $("#rangeLabel").text("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
          $("#rangeLabel").text("$0 - $250");

        });
        
        function ApplyFilter(e) {
            e.preventDefault();
            var m = $("#FilterForm").serialize();
            $.ajax({
                url: '@Url.Action("SearchResults")',
                method: "GET",
                data: m,
                success: function (Result) {
                    $("#SearchResults").html(Result);
                }
            })
        }
    </script>

}


