@model Alllive.Models.Attendee

    <div class="row" id="attendee@(Model.AttendeeID)">
        <div class="col-sm-5">
            @Model.Name
        </div>
        <div class="col-sm-5">
            @Model.Email
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#editAttendee"
                    onclick="editAttendeeClick(@Model.AttendeeID,@Model.SessionID,'@Model.Email','@Model.Name',@(Model.UserID??0),@(Model.Rate??0))">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="btn btn-danger" type="button" 
                    onclick="DeleteAttendeeClick(@Model.AttendeeID,this)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
    </div>
