@model Alllive.Models.TutorViewModel

@using (Ajax.BeginForm("SaveUserProfile", new AjaxOptions { OnSuccess = "SaveUserProfile_Success", HttpMethod = "POST" }))
{
    @Html.HiddenFor(a => a.User.UserID)
    @Html.HiddenFor(a => a.User.UserName)

    <div>

        <div class="col-sm">
            @Html.DisplayFor(a => a.User.FirstName, new { @style = "width:100px" })
            @Html.DisplayFor(a => a.User.LastName, new { @style = "width:100px" })
        </div>
    </div>

    <div>

        <div class="col-sm">
            @Html.DisplayFor(a => a.User.TimeZone, new { @class = "form-control", @style = "width:100px" })
        </div>
    </div>

    <div>

        <div class="col-sm">
            <span>@Model.User.UserName</span>
        </div>


    </div>
    if (Model.TutorProfile != null)
    {
        <p>
            <img src="~/Images/silhoutte.png" />
        </p>

        <table>
            <tr>
                <td>Headline</td>
                <td>
                    @Model.TutorProfile.HeadLine
                </td>
            </tr>

            <tr>
                <td>Bio</td>
                <td>
                    @Model.TutorProfile.Bio
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-sm-1">
                @Html.Label("Rate")
            </div>
            <div class="col-sm-1">
                @Html.ValueFor(a => a.TutorProfile.Rate)
            </div>
        </div>
    }
}
