@model  Alllive.Models.UserModel

@{
    ViewBag.Title = "Register";
}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- <style type="text/css">
    .register-form {
        width: ;
        margin: auto;
        text-align: center;
    }

        .register-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .register-form h2 {
            margin: 0 0 15px;
        }

        .register-form .hint-text {
            color: #777;
            padding-bottom: 15px;
            text-align: center;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }

    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }

        .or-seperator i {
            padding: 0 10px;
            background: #f7f7f7;
            position: relative;
            top: -11px;
            z-index: 1;
        }

    .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left;
        line-height: 24px;
    }

        .social-btn .btn i {
            float: left;
            margin: 4px 15px 0 5px;
            min-width: 15px;
        }

    .input-group-addon .fa {
        font-size: 18px;
    }
</style> -->
<!-- CONVERT GRID INTO TABLE-->
<div class="container">
    <div class="register-form">
        <h2> Register</h2>
        @using (Html.BeginForm("Register", "User", FormMethod.Post))  // how does it know this is the usercontroller since it says user? Is it because of the @model statment at the top?
        {

           
                <div class="row">
                    <div class="col-sm-1">
                        @Html.LabelFor(a => a.FirstName, new { @style = "align:center" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", @style = "display:inline-block" })
                    </div>
                    <div class="col-sm-1">
                        @Html.LabelFor(a => a.LastName)
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", @style = "display:inline-block" })
                    </div>
                </div>
            

            
                <div class="row">
                    <div class="col-sm-1">
                        @Html.Label("Email")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @style = "display:inline-block", @placeholder = "your@email.com" })
                    </div>
                </div>
            


            
                <div class="row">
                    <div class="col-sm-1">
                        @Html.LabelFor(a => a.Password)
                    </div>
                    <div class="col-sm-3">
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control", @style = "display:inline-block" })
                    </div>
                    <div class="col-sm-1">
                        @Html.LabelFor(a => a.ConfirmPassword,"Confirm Password" )
                    </div>
                    <div class="col-sm-3">
                        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @style = "display:inline-block" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>
                            @Html.CheckBoxFor(a => a.RegisterAsTutor, new { @onclick = "TutorCheck()" })
                            Register as tutor 

                        </label>
                    </div>
                </div>
                <div id="tutor-section" style="display:none">
                    <div class="row">
                        <div class="col-sm-1">
                            @Html.Label("HeadLine")
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(a => a.HeadLine, new { @class = "form-control", @style = "display:inline-block", @placeholder = "Headline" })
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-sm-1">
                            <label>Photo</label>
                        </div>
                        <div class="col-sm-2">
                            <img src="~/Images/silhoutte.png" id="profilePic" onclick="profileImage_Click(event)" ondrop="profileImage_Drop(event)"/>
                            <input type="file" id="profileImage" accept="image/*" class="invisible" onchange="profileImage_Change(event)" />
                            <small>click image to upload</small>
                        </div>
                        <div class="col-md-3">
                            <h4>Bio</h4>
                            @Html.TextArea("Bio", new { @style = "width:460px" })
                        </div>
                    </div>
                    
                    
                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    <h4>Tutoring Subjects</h4>
                                    <span>Maths</span>
                                    @Html.CheckBox("MathSubject", false)
                                    <span>Reading</span>
                                    @Html.CheckBox("ReadingSubject", false)
                                    <span>Science</span>
                                    @Html.CheckBox("ScienceSubject", false)
                                </p>
                            </div>
                            

                        </div>
                    

                    <div class="row">
                        <div class="col-sm-1">
                            @Html.Label("Rate")
                        </div>
                        <div class="col-sm-1">
                            @Html.TextBoxFor(a => a.Rate, new { @class = "form-control", @style = "display:inline-block", @type = "number" })
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Availability</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>Start Time</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>End Time</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.MondayStart)
                                    Monday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.MonStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.MonEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.Tuesday)
                                    Tuesday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.TueStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.TueEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.Wednesday)
                                    Wednesday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.WedStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.WedEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control", @style = "width:106px" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.Thursday)
                                    Thursday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.ThuStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.ThuEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.Friday)
                                    Friday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.FriStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.FriEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.Saturday)
                                    Saturday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.SatStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.SatEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.Sunday)
                                    Sunday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.SunStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(a => a.SunEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions,new {@class="form-control", @style="width:106px" })
                            </div>
                        </div>


                   
                </div>
       
    





    <p>
        @Html.ValidationMessageFor(a => a.LastName, "", new { @style = "color:'red'" })<br />
        @Html.ValidationMessageFor(a => a.FirstName, "", new { @style = "color:red" })<br />
        @Html.ValidationMessageFor(a => a.UserName, "", new { @style = "color:red" })<br />
        @Html.ValidationMessageFor(a => a.Password, "", new { @style = "color:red" })<br />
        @Html.ValidationSummary();
    </p>
    <input type="submit" value="Submit" />
}
        </div>


        </div>
@section scripts{
    <script>
        function TutorCheck() {
            $("#tutor-section").toggle();
        }
        function profileImage_Click(e) {
            e.preventDefault();
            $("#profileImage").click();

        }
        function profileImage_Drop(e) {
            e.preventDefault();
            profileImage_Change(e);
        }
        function profileImage_Change(e) {

            if (e.dataTransfer || e.target) {
                let fileToUpload = e.dataTransfer ? e.dataTransfer.files[0] : e.target.files[0];
                if (fileToUpload) {
                    // Upload the file to the server
                  @*var fd = new FormData();
                  fd.append('file', fileToUpload);
                  $.ajax({
                    method: 'PUT',
                    url: '@Url.Action("SaveImage", "Images")',
                    data: fd,
                    headers: {
                      'Content-Type': undefined,
                    },
                    success: function (imgResponse) {

                    }
                  })*@

                    // Alternate - resize image client-side
                    let fr = new FileReader();
                    fr.onload = () => {
                        let img = new Image();
                        img.onload = () => {
                            let ratio = 1;
                            let h = img.height;
                            let w = img.width;
                            if (w > 200) {
                                ratio = 200 / w;
                                h = ratio * h;
                            }
                            if (h > 200) {
                                ratio = 200 / img.height;
                            }
                            h = img.height * ratio;
                            w = img.width * ratio;
                            let canvas = document.createElement("canvas");
                            canvas.width = w;
                            canvas.height = h;

                            let ctx = canvas.getContext("2d");
                            ctx.drawImage(img, 0, 0, w, h);
                            // TODO: Upload the image
                            $("#profilePic").prop("src", canvas.toDataURL("image/png"));
                        };
                        if (typeof fr.result === "string") {
                            img.src = fr.result;
                        }
                    };
                    fr.readAsDataURL(fileToUpload);
                }
            }
        }
        
    </script>
    }

        @*<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
            </div>*@
