@model IEnumerable<Alllive.Models.ScheduleMeeting>
    @{
    ViewBag.Title = "Schedule";
    }
    
    <h2>Schedule&nbsp;<a class="btn btn-primary" href="@Url.Action("ScheduleMeeting","Meeting")"><i class="glyphicon glyphicon-plus"></i></a></h2>
     @ViewBag.message
    @if (Model != null)
    {
    foreach (var item in Model)
    {
    <div class="container @(item.Active == "N" ?"cancelled":"")">
        <div class="row  ">
            <div class="col">
                @if(item.Active == "N")
                {
                    <em>Cancelled</em>
                }
                <!--<b>@item.SessionID</b>-->
                <b>@item.StartTime.ToString("MM/dd/yyyy")</b>
                <br />
                <b>@item.StartTime.ToString("hh:mm tt")</b>
            </div>
            <div class="col">
                <b>@item.SessionName</b>
            </div>
            <div class="col">

            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <b>@item.Description</b>
            </div>
            <div class="col-sm-4">
                @*@item.StartTime.Value.ToShortDateString()
                -
                @item.EndTime.Value.ToShortDateString()*@
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-8">
                @String.Join(", ",item.Attendees.Select(a=>a.Name))
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href=@item.MeetingLink target="_blank">Click to Join Meeting</a>
            </div>
            <div class="col">
                @if (item.Active == "Y")
                {
                    @Html.ActionLink("Cancel", "CancelMeeting", "Meeting", new { ID = item.SessionID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Edit", "ScheduleMeeting", "Meeting", new { sessionID = item.SessionID }, new { @class = "btn btn-primary" })


                }
                else
                {
                    @Html.ActionLink("Reactivate", "ReactivateMeeting", "Meeting", new { ID = item.SessionID }, new { @class = "btn btn-primary" })

                }
                @*<button type="button" onclick="location.href='@Url.Action("CancelMeeting","User", new { ID = item.SessionID })'">Cancel</button>
        <button type="button" onclick="location.href='@Url.Action("EditMeeting","User", new { ID = item.SessionID })'">Edit</button>*@

            </div>

        </div>
    </div>
    <hr />
    }
}
else
{
    <div>You have nothing scheduled yet</div>


}
