@model IEnumerable<Alllive.Models.ScheduleMeeting>
    @{
    ViewBag.Title = "Schedule";
    }
    
    <h2>Schedule&nbsp;<a class="btn btn-primary" href="@Url.Action("ScheduleMeeting","Meeting")"><i class="glyphicon glyphicon-plus"></i></a></h2>
     @ViewBag.message

    @if (Model != null)
    {
    foreach (var item in Model)
    {
    <div class="container @(item.Active == "N" ?"cancelled":"")">
        <table class="table table-bordered table-responsive">
            <tr>
                <th>
                    Start Time
                </th>
                <th>
                    Session Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Host
                </th>
            </tr>
            <tr>
                <td>
                    @if (item.Active == "N")
                    {
                        <em>Cancelled</em>
                    }
                    <!--<b>@item.SessionID</b>-->
                    @item.StartTime.ToString("MM/dd/yyyy")
                    <br />
                   @item.StartTime.ToString("hh:mm tt")
                </td>
                <td>
                    @item.SessionName
                </td>
                <td>
                    @item.Description

                </td>
                <td>
                    @item.Host
                </td>
            </tr>
            <tr>
                <td colspan="4">
                   
                    <b>Attendees:</b>
                       @String.Join(", ", item.Attendees.Select(a => a.Name))

                </td>
            </tr>
        </table> 
        <table>
            <tr>
                <td>
                    <a href=@item.MeetingLink target="_blank">Click to Join Meeting</a>
                    <br />
                    @if (item.HostUserID == ViewBag.myUserID)
                    {
                       if (item.Active == "Y")
                        {
                            @Html.ActionLink("Cancel", "CancelMeeting", "Meeting", new { ID = item.SessionID }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Edit", "ScheduleMeeting", "Meeting", new { sessionID = item.SessionID }, new { @class = "btn btn-primary" })


                        }
                        else
                        {
                            @Html.ActionLink("Reactivate", "ReactivateMeeting", "Meeting", new { ID = item.SessionID }, new { @class = "btn btn-primary" })

                        }
                    }
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-sm-8">
            </div>
        </div>
       
    </div>
    
    }
}
else
{
    <div>You have nothing scheduled yet</div>


}
