@model Alllive.Models.TutorProfile

@using (Html.BeginForm("SaveTutor", "User", FormMethod.Post))  // how does it know this is the usercontroller since it says user? Is it because of the @model statment at the top?
{
    @Html.Hidden("UserID")
    <div class="container">

        <div class="row">
            <div class="col-8">
                <span>Upload Photo</span>

                @Html.TextBox("Photo")
                <button>Browse</button>

            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>
                <h4>Tutoring Subjects</h4>
                <span>Maths</span>
                @Html.CheckBox("MathSubject", false)
                <span>Reading</span>
                @Html.CheckBox("ReadingSubject", false)
                <span>Science</span>
                @Html.CheckBox("ScienceSubject", false)
            </p>
        </div>
        <div class="col-md-3">
            <h4>Bio</h4>
            @Html.TextArea("Bio")
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Availability</h4>
            <ul style="list-style-type:none;">

                <li>Monday</li>
                <li>Tuesday</li>
                <li>Wednesday</li>
                <li>Thursday</li>
                <li>Friday</li>
                <li>Saturday</li>
                <li>Sunday</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h6>Start Time</h6>
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">


        </div>
        <div class="col-md-2">
            <h6>End Time</h6>
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
            <input type="time" id="myTime">
        </div>
    </div>
</div>

<p>
    <span></span>
</p>
<br />

<input type="submit" value="Submit" />


}