@model Alllive.Models.TutorProfile

@using (Ajax.BeginForm("SaveTutor", "User", new AjaxOptions { HttpMethod="Post"} ))  // how does it know this is the usercontroller since it says user? Is it because of the @model statment at the top?
{
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.TutorProfileID)
   
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                @Html.Label("HeadLine")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(a => a.HeadLine, new { @class = "form-control", @style = "display:inline-block" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label>Photo</label>
            </div>
            <div class="col-sm-6">
                <img src="~/Images/silhoutte.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>
                    <h4>Tutoring Subjects</h4>
                    <span>Maths</span>
                    @Html.CheckBoxFor(a=>a.Math)
                    <span>Reading</span>
                    @Html.CheckBoxFor(a=>a.Reading)
                    <span>Science</span>
                    @Html.CheckBoxFor(a=>a.Science)
                </p>
            </div>


        </div>

        <div class="row">
            <div class="col-md-8">
                <h4>Bio</h4>
                @Html.TextArea("Bio", new { @class = "form-control", @rows = "4" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                @Html.Label("Rate")
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(a => a.Rate, new { @class = "form-control", @style = "display:inline-block", @type = "number" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Availability</h4>
            </div>
            <div class="col-md-3">
                <h4>Start Time</h4>
            </div>
            <div class="col-md-3">
                <h4>End Time</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Monday)
                    Monday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.MondayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.MondayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Tuesday)
                    Tuesday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.TuesdayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.TuesdayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Wednesday)
                    Wednesday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.WednesdayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.WednesdayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Thursday)
                    Thursday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.ThursdayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.ThursdayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Friday)
                    Friday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.FridayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.FridayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Saturday)
                    Saturday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SaturdayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SaturdayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Sunday)
                    Sunday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SundayStart, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SundayEnd, Utilities.GetTimeFrames(), new { @class = "form-control timep" })
            </div>
        </div>

    </div>


    <p>
        <span></span>
    </p>
    <br />

    <button type="submit" class="btn btn-primary">Save Tutor Profile</button>


}