@model Alllive.Models.TutorProfile

@using (Html.BeginForm("SaveTutor", "User", FormMethod.Post))  // how does it know this is the usercontroller since it says user? Is it because of the @model statment at the top?
{
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.TutorProfileID)
   
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                @Html.Label("HeadLine")
            </div>
            <div class="col-sm-7">
                @Html.TextBoxFor(a => a.HeadLine, new { @class = "form-control", @style = "display:inline-block" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label>Photo</label>
            </div>
            <div class="col-sm-6">
                <img src="~/Images/silhoutte.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>
                    <h4>Tutoring Subjects</h4>
                    <span>Maths</span>
                    @Html.CheckBox("MathSubject", false)
                    <span>Reading</span>
                    @Html.CheckBox("ReadingSubject", false)
                    <span>Science</span>
                    @Html.CheckBox("ScienceSubject", false)
                </p>
            </div>


        </div>

        <div class="row">
            <div class="col-md-8">
                <h4>Bio</h4>
                @Html.TextArea("Bio", new { @class = "form-control", @rows = "4" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                @Html.Label("Rate")
            </div>
            <div class="col-sm-1">
                @Html.TextBoxFor(a => a.Rate, new { @class = "form-control", @style = "display:inline-block", @type = "number" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Availability</h4>
            </div>
            <div class="col-md-3">
                <h4>Start Time</h4>
            </div>
            <div class="col-md-3">
                <h4>End Time</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Monday)
                    Monday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.MondayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.MondayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Tuesday)
                    Tuesday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.TuesdayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.TuesdayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Wednesday)
                    Wednesday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.WednesdayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.WednesdayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Thursday)
                    Thursday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.ThursdayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.ThursdayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Friday)
                    Friday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.FridayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.FridayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Saturday)
                    Saturday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SaturdayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SaturdayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>
                    @Html.CheckBoxFor(a => a.Sunday)
                    Sunday
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SundayStart, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.SundayEnd, (IEnumerable<SelectListItem>)ViewBag.minuteOptions, new { @class = "form-control timep" })
            </div>
        </div>

    </div>


    <p>
        <span></span>
    </p>
    <br />

    <input type="submit" value="Submit" />


}