@model Alllive.Models.TutorViewModel


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <label> Name</label>
            
        </div>
        <div class="col-sm-9">
            <span>@Model.User.FirstName @Model.User.LastName</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label>UserName</label>
        </div>
        <div class="col-sm-9">
            <span>@Model.User.UserName</span>
        </div>


    </div>
</div>
<div class="container">
    @if (Model.TutorProfile != null)
    {
        <p>
            <img src="~/Images/silhoutte.png" />
        </p>
        <p>
            @Model.TutorProfile.HeadLine
        </p>
        <p>
            @Model.TutorProfile.Bio
        </p>

        <a class="btn btn-default" href="@Url.Action("TutorRegistration",new { tutorProfileId = Model.TutorProfile.TutorProfileID })">Edit</a>
    }
    else
    {
        <a class="btn btn-primary" href="@Url.Action("TutorRegistration")">Add a Tutor Profile</a>
    }
</div>