@model Alllive.Models.TutorViewModel


<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered" style="width:25rem;">
            <thead><tr><th>Profile</th></tr></thead>
            <tbody>

                <tr> <td><a href="@Url.Action("ViewProfile", "User", new { viewPage = "1" })">Public Profile</a> </td></tr>
                <tr><td><a href="@Url.Action("ViewProfile","User", new { viewPage = "2" })">Payment Information</a></td></tr>
                <tr><td><a href="#">Availability</a></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        @if (ViewBag.Page=="1")
        {
            Html.RenderPartial("_ViewProfile");
        }
        else if(ViewBag.Page=="2")
        {
            Html.RenderPartial("_PaymentProfile");
        }
    </div>
</div>
    @*<div class="container">
                        <div>
              

                </div>
                <div class="container">
                 
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Availability</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>Start Time</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>End Time</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Monday, new { @readonly = true })
                                    Monday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.MondayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.MondayEnd)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Tuesday)
                                    Tuesday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.TuesdayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.TuesdayEnd)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Wednesday)
                                    Wednesday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.WednesdayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.WednesdayEnd)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Thursday)
                                    Thursday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.ThursdayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.ThursdayEnd)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Friday)
                                    Friday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.FridayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.FridayEnd)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Saturday)
                                    Saturday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.SaturdayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.SaturdayEnd)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Html.CheckBoxFor(a => a.TutorProfile.Sunday)
                                    Sunday
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.SundayStart)
                            </div>
                            <div class="col-md-3">
                                @Html.ValueFor(a => a.TutorProfile.SundayEnd)
                            </div>
                        </div>

                        <a class="btn btn-default" href="@Url.Action("TutorRegistration",new { tutorProfileId = Model.TutorProfile.TutorProfileID })">Edit</a>
                    }
                    else
                    {
                        <a class="btn btn-primary" href="@Url.Action("TutorRegistration")">Add a Tutor Profile</a>
                    }
                </div>
            </div>
       
</div>*@
@section Scripts{
    <script>
        function accountDelete_Click(userAccountId) {

        }
        function SaveUserProfile_Success() {
            var myToast = Toastify({
                text: "The profile has been saved",
                duration: 2000
            });
            myToast.showToast();
        }
    </script>
    }