@model IEnumerable<Alllive.Models.TutorViewModel>

<div class="list-group">
    @foreach (var tp in Model)
    {
    <div class="list-group-item">
        <img />
        <h3>@tp.User.FirstName @tp.User.LastName</h3>
        <p>@tp.TutorProfile.Bio</p>
        <h5>Availability</h5>

        @if (tp.TutorProfile.Sunday)
        {
            @Html.Label("Sunday:")
            @tp.TutorProfile.SundayStart
            @tp.TutorProfile.SundayEnd
        }
        @if (tp.TutorProfile.Monday)
        {
            @Html.Label("Monday:")

            @tp.TutorProfile.MondayStart
            @tp.TutorProfile.MondayEnd
        }
        @if (tp.TutorProfile.Tuesday)
        {
            @Html.Label("Tuesday:")

            @tp.TutorProfile.TuesdayStart
            @tp.TutorProfile.TuesdayEnd
        }
        @if (tp.TutorProfile.Wednesday)
        {
            @Html.Label("Wednesday:")

            @tp.TutorProfile.WednesdayStart
            @tp.TutorProfile.WednesdayEnd
        }
        @if (tp.TutorProfile.Thursday)
        {
            @Html.Label("Thursday:")

            @tp.TutorProfile.ThursdayStart
            @tp.TutorProfile.ThursdayEnd
        }
        @if (tp.TutorProfile.Friday)
        {
            @Html.Label("Friday:")

            @tp.TutorProfile.FridayStart
            @tp.TutorProfile.FridayEnd
        }
        @if (tp.TutorProfile.Saturday)
        {
            @Html.Label("Saturday:")

            @tp.TutorProfile.SaturdayStart
            @tp.TutorProfile.SaturdayEnd
        }
    </div>
    }
   
</div>
