@using MvcTimerPicker.Models
@model TimerViewModel
@{
    ViewBag.Title = "ASP.NET MVC5: Time Picker Plugin";
}

<div class="row">
    <div class="panel-heading">
        <div class="col-md-8">
            <h3>
                <i class="fa fa-clock-o"></i>
                <span>ASP.NET MVC5: Time Picker Plugin</span>
            </h3>
        </div>
    </div>
</div>

<br />

<h5>
    <i class="fa fa-link" aria-hidden="true"></i>
    <a href="https://jdewit.github.io/bootstrap-timepicker/">Bootstrap Time Picker</a>
</h5>

<hr />

<div class="row">
    <div class="col-md-12 col-md-push-1">
        <section>
            @using (Html.BeginForm("Index", "Timer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row" style="display:none;">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(m => m.Timer, new { id = "timerValId", @readonly = "readonly", placeholder = Html.DisplayNameFor(m => m.Timer), @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Time</span>
                                <input id="timerId" type='text' class="form-control text-center" placeholder="Time" readonly="readonly" />
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>

                            @if (Model.IsValid && !string.IsNullOrEmpty(Model.Message))
                            {
                                <span class="text-success">@Model.Message</span>
                            }
                            else
                            {
                                <span class="text-danger">@Model.Message</span>
                                @Html.ValidationMessageFor(m => m.Timer, "", new { @class = "text-danger" })
                            }
                        </div>

                        <div class="col-md-4">
                            <input type="submit" value="Set" class="btn btn-info" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div> 